{% set btnLink = "{{--button_href--}}" %}

<section class="games">
	<div class="container">
		<div class="slider games-slider" data-plugin="gamesSlider">
			<div class="slider__holder">
				<div class="slider__item">
					<a href="{{ btnLink }}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/1.png" class="lazyload" alt="Game1" title="Game1"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{ btnLink }}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/2.png" class="lazyload" alt="Game2" title="Game2"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{ btnLink }}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/3.png" class="lazyload" alt="Game3" title="Game3"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{ btnLink }}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/4.png" class="lazyload" alt="Game4" title="Game4"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{ btnLink }}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/5.png" class="lazyload" alt="Game5" title="Game5"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{ btnLink }}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/3.png" class="lazyload" alt="Game3" title="Game3"/>
					</a>
				</div>
			</div>
			<div class="slider__nav"></div>
		</div>
	</div>
</section>
